@import 'tailwindcss';

:root {
    color: var(--color-gray-700);
    background-color: var(--color-gray-300);
}

.enclosureInfo {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(2, 80px);
    justify-content: space-around;
    gap: 10px;
}